.Todo-Item-container{
    background-color:#607d9e;
    height:70px;
    width:400px;
    border:0px;
    display:flex;
    justify-content:space-between;
    margin:10px;
    border:0px solid;
    border-radius:10px;
}

.Todo-paragraph{
    color:white;
    font-size:20px;
    padding-left:10px;
}
.p-container{
    display:flex;
    flex-direction:column;
    overflow-x:scroll;
}

.list-style{
    list-style-type:none;

}
.img-style{
    height:50px;
    width:50px;
}